@import "bootstrap_imports";

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}


$body-borders: #D4D4D4;
$body-borders-light: #fff; 

@import "header.scss";
@import "home.scss";
/*@import "typeahead.scss";
@import "error.scss";*/
@import "datasets.scss";
@import "dataset.scss";
/*@import "yuki.scss";*/
