<div class="jumbotron" id="hero">
  <h1 class="page-header">My Open Data</h1>
  
  <form {{action "search" on="submit"}}>
  
    <p>
      <div class="input-group input-group-lg">
        <label class="sr-only" for="search">Search</label>
        {{input value=q class="form-control" placeholder="search for open data"}}
        <span class="input-group-btn">
          <button id="search-btn" class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </p>  

  </form>  
    
  <span style="float:right;color:#FFF">Image <a href="https://www.flickr.com/photos/davebloggs007/14389618573">CC Dave Bloggs</a></span>
</div>

{{outlet}}
